@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#footer {
    padding: 2%;
    bottom: 0px;
    position: absolute;
    width: 100%;
    margin-top: 40%;
    margin-bottom: 0px;

    background-color: rgb(230, 230, 230, 0.9);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


table {
    text-align: right;
    
}

th, td {
    margin-right:40%;
    text-align: left;
    
}

#sectionTwo {
    color: white;
    
}



